# Problem Statement

The goal here is to find weather the customer is going to leave the bank or not depending upon different features..

In [28]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [2]:
#loading data
df=pd.read_csv('BankCustomers.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

From here we can observe that 10000 rows has been contains.
   * I think first three features are not important to train model ,so i'm going to train model without these three models

In [4]:
df=df.iloc[:,3:]
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Data Preprocessing

From above we can observe that Gender and Geography are two different categorical features now i'm going to convert those features by applying label encoder.

In [5]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [6]:
#i'm just going to check data once again
X['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

From above we can observe that there is only three countries .

In [7]:
geography={'France':0,'Germany':1,'Spain':2}
X['Geography']=X['Geography'].map(geography)

In [8]:
X['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [9]:
gender={'Male':0,'Female':1}
X['Gender']=X['Gender'].map(gender)

In [10]:
#let's check data once again 
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,1,42,2,0.00,1,1,1,101348.88
1,608,2,1,41,1,83807.86,1,0,1,112542.58
2,502,0,1,42,8,159660.80,3,1,0,113931.57
3,699,0,1,39,1,0.00,2,0,0,93826.63
4,850,2,1,43,2,125510.82,1,1,1,79084.10

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
# Importing the Keras libraries and packages
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Creating Artificial Neural Network

In [20]:
# Initialising the ANN
classifier = Sequential()
#FIRST HIDDEN +RELU LAYER
classifier.add(Dense(activation="relu", input_dim=10, units=6, kernel_initializer="uniform"))
#SECOND HIDDEN + RELU LAYER
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))
#THIRD OUTPUT LAYER
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [21]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [22]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
Train on 8000 samples
Epoch 1/100
8000/8000 [==============================] - 4s 482us/sample - loss: 0.4910 - accuracy: 0.7959
Epoch 2/100
8000/8000 [==============================] - 2s 251us/sample - loss: 0.4349 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 283us/sample - loss: 0.4319 - accuracy: 0.7960
Epoch 4/100
8000/8000 [==============================] - 2s 264us/sample - loss: 0.4274 - accuracy: 0.7985
Epoch 5/100
8000/8000 [==============================] - 2s 277us/sample - loss: 0.4226 - accuracy: 0.8189
Epoch 6/100
8000/8000 [==============================] - 2s 249us/sample - loss: 0.4192 - accuracy: 0.8256
Epoch 7/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.4168 - accuracy: 0.8299
Epoch 8/100
8000/8000 [==============================] - 2s 278us/sample - loss: 0.4148 - accuracy: 0.8282
Epoch 9/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.4130 - accuracy: 0.8307
Epoch 10/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4114 - accuracy: 0.8313
Epoch 11/100
8000/8000 [==============================] - 2s 282us/sample - loss: 0.4109 - accuracy: 0.8329
Epoch 12/100
8000/8000 [==============================] - 2s 256us/sample - loss: 0.4092 - accuracy: 0.8316
Epoch 13/100
8000/8000 [==============================] - 2s 276us/sample - loss: 0.4084 - accuracy: 0.8335
Epoch 14/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.4080 - accuracy: 0.8334
Epoch 15/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.4071 - accuracy: 0.8324
Epoch 16/100
8000/8000 [==============================] - 2s 276us/sample - loss: 0.4067 - accuracy: 0.8338
Epoch 17/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.4059 - accuracy: 0.8346
Epoch 18/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.4053 - accuracy: 0.8345
Epoch 19/100
8000/8000 [==============================] - 2s 289us/sample - loss: 0.4045 - accuracy: 0.8347
Epoch 20/100
8000/8000 [==============================] - 2s 250us/sample - loss: 0.4046 - accuracy: 0.8354
Epoch 21/100
8000/8000 [==============================] - 2s 291us/sample - loss: 0.4041 - accuracy: 0.8346
Epoch 22/100
8000/8000 [==============================] - 2s 248us/sample - loss: 0.4039 - accuracy: 0.8363
Epoch 23/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.4038 - accuracy: 0.8351
Epoch 24/100
8000/8000 [==============================] - 2s 274us/sample - loss: 0.4033 - accuracy: 0.8345
Epoch 25/100
8000/8000 [==============================] - 2s 255us/sample - loss: 0.4028 - accuracy: 0.8339
Epoch 26/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.4030 - accuracy: 0.8355
Epoch 27/100
8000/8000 [==============================] - 2s 302us/sample - loss: 0.4025 - accuracy: 0.8364
Epoch 28/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4028 - accuracy: 0.8354
Epoch 29/100
8000/8000 [==============================] - 2s 274us/sample - loss: 0.4022 - accuracy: 0.8346
Epoch 30/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.4025 - accuracy: 0.8350
Epoch 31/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4022 - accuracy: 0.8346
Epoch 32/100
8000/8000 [==============================] - 2s 276us/sample - loss: 0.4023 - accuracy: 0.8354
Epoch 33/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4018 - accuracy: 0.8357
Epoch 34/100
8000/8000 [==============================] - 2s 249us/sample - loss: 0.4020 - accuracy: 0.8361
Epoch 35/100
8000/8000 [==============================] - 2s 291us/sample - loss: 0.4019 - accuracy: 0.8361
Epoch 36/100
8000/8000 [==============================] - 2s 248us/sample - loss: 0.4013 - accuracy: 0.8364
Epoch 37/100
8000/8000 [==============================] - 2s 268us/sample - loss: 0.4011 - accuracy: 0.8369
Epoch 38/100
8000/8000 [==============================] - 2s 254us/sample - loss: 0.4017 - accuracy: 0.8360
Epoch 39/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4009 - accuracy: 0.8363
Epoch 40/100
8000/8000 [==============================] - 2s 273us/sample - loss: 0.4010 - accuracy: 0.8365
Epoch 41/100
8000/8000 [==============================] - 2s 243us/sample - loss: 0.4015 - accuracy: 0.8365
Epoch 42/100
8000/8000 [==============================] - 2s 256us/sample - loss: 0.4004 - accuracy: 0.8357
Epoch 43/100
8000/8000 [==============================] - 2s 282us/sample - loss: 0.4008 - accuracy: 0.8360
Epoch 44/100
8000/8000 [==============================] - 2s 243us/sample - loss: 0.4010 - accuracy: 0.8370
Epoch 45/100
8000/8000 [==============================] - 2s 253us/sample - loss: 0.4007 - accuracy: 0.8369
Epoch 46/100
8000/8000 [==============================] - 2s 270us/sample - loss: 0.4006 - accuracy: 0.8376
Epoch 47/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.4009 - accuracy: 0.8351
Epoch 48/100
8000/8000 [==============================] - 2s 277us/sample - loss: 0.4000 - accuracy: 0.8355
Epoch 49/100
8000/8000 [==============================] - 2s 243us/sample - loss: 0.4004 - accuracy: 0.8363
Epoch 50/100
8000/8000 [==============================] - 2s 261us/sample - loss: 0.4008 - accuracy: 0.8363
Epoch 51/100
8000/8000 [==============================] - 2s 274us/sample - loss: 0.4006 - accuracy: 0.8378
Epoch 52/100
8000/8000 [==============================] - 2s 244us/sample - loss: 0.4008 - accuracy: 0.8366
Epoch 53/100
8000/8000 [==============================] - 2s 244us/sample - loss: 0.4003 - accuracy: 0.8353
Epoch 54/100
8000/8000 [==============================] - 2s 273us/sample - loss: 0.4005 - accuracy: 0.8359
Epoch 55/100
8000/8000 [==============================] - 2s 243us/sample - loss: 0.4000 - accuracy: 0.8366
Epoch 56/100
8000/8000 [==============================] - 2s 268us/sample - loss: 0.4001 - accuracy: 0.8354
Epoch 57/100
8000/8000 [==============================] - 2s 249us/sample - loss: 0.4001 - accuracy: 0.8360
Epoch 58/100
8000/8000 [==============================] - 2s 259us/sample - loss: 0.3996 - accuracy: 0.8356
Epoch 59/100
8000/8000 [==============================] - 2s 275us/sample - loss: 0.4005 - accuracy: 0.8381
Epoch 60/100
8000/8000 [==============================] - 2s 242us/sample - loss: 0.4000 - accuracy: 0.8346
Epoch 61/100
8000/8000 [==============================] - 2s 241us/sample - loss: 0.4000 - accuracy: 0.8355
Epoch 62/100
8000/8000 [==============================] - 2s 271us/sample - loss: 0.4000 - accuracy: 0.8355
Epoch 63/100
8000/8000 [==============================] - 2s 241us/sample - loss: 0.3994 - accuracy: 0.8369
Epoch 64/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.3998 - accuracy: 0.8385
Epoch 65/100
8000/8000 [==============================] - 2s 275us/sample - loss: 0.4003 - accuracy: 0.8371
Epoch 66/100
8000/8000 [==============================] - 2s 256us/sample - loss: 0.3998 - accuracy: 0.8364
Epoch 67/100
8000/8000 [==============================] - 2s 271us/sample - loss: 0.3998 - accuracy: 0.8364
Epoch 68/100
8000/8000 [==============================] - 2s 244us/sample - loss: 0.3998 - accuracy: 0.8351
Epoch 69/100
8000/8000 [==============================] - 2s 242us/sample - loss: 0.3997 - accuracy: 0.8356
Epoch 70/100
8000/8000 [==============================] - 2s 275us/sample - loss: 0.3995 - accuracy: 0.8354
Epoch 71/100
8000/8000 [==============================] - 2s 249us/sample - loss: 0.3997 - accuracy: 0.8351
Epoch 72/100
8000/8000 [==============================] - 2s 242us/sample - loss: 0.3993 - accuracy: 0.8355
Epoch 73/100
8000/8000 [==============================] - 2s 296us/sample - loss: 0.4000 - accuracy: 0.8355
Epoch 74/100
8000/8000 [==============================] - 2s 261us/sample - loss: 0.3997 - accuracy: 0.8356
Epoch 75/100
8000/8000 [==============================] - 2s 272us/sample - loss: 0.3996 - accuracy: 0.8369
Epoch 76/100
8000/8000 [==============================] - 2s 244us/sample - loss: 0.3994 - accuracy: 0.8369
Epoch 77/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.3994 - accuracy: 0.8356
Epoch 78/100
8000/8000 [==============================] - 2s 273us/sample - loss: 0.3997 - accuracy: 0.8360
Epoch 79/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.3995 - accuracy: 0.8371
Epoch 80/100
8000/8000 [==============================] - 2s 248us/sample - loss: 0.3999 - accuracy: 0.8354
Epoch 81/100
8000/8000 [==============================] - 2s 297us/sample - loss: 0.3995 - accuracy: 0.8365
Epoch 82/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.3995 - accuracy: 0.8364
Epoch 83/100
8000/8000 [==============================] - 2s 270us/sample - loss: 0.3994 - accuracy: 0.8369
Epoch 84/100
8000/8000 [==============================] - 2s 248us/sample - loss: 0.3996 - accuracy: 0.8365
Epoch 85/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.3994 - accuracy: 0.8357
Epoch 86/100
8000/8000 [==============================] - 2s 273us/sample - loss: 0.3994 - accuracy: 0.8356
Epoch 87/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.3995 - accuracy: 0.8354
Epoch 88/100
8000/8000 [==============================] - 2s 248us/sample - loss: 0.3989 - accuracy: 0.8360
Epoch 89/100
8000/8000 [==============================] - 2s 298us/sample - loss: 0.3999 - accuracy: 0.8354
Epoch 90/100
8000/8000 [==============================] - 2s 246us/sample - loss: 0.3996 - accuracy: 0.8351
Epoch 91/100
8000/8000 [==============================] - 2s 255us/sample - loss: 0.3992 - accuracy: 0.8360
Epoch 92/100
8000/8000 [==============================] - 2s 261us/sample - loss: 0.3997 - accuracy: 0.8349
Epoch 93/100
8000/8000 [==============================] - 2s 247us/sample - loss: 0.3991 - accuracy: 0.8356
Epoch 94/100
8000/8000 [==============================] - 2s 273us/sample - loss: 0.3995 - accuracy: 0.8344
Epoch 95/100
8000/8000 [==============================] - 2s 245us/sample - loss: 0.3991 - accuracy: 0.8360
Epoch 96/100
8000/8000 [==============================] - 2s 261us/sample - loss: 0.3992 - accuracy: 0.8344
Epoch 97/100
8000/8000 [==============================] - 2s 289us/sample - loss: 0.3993 - accuracy: 0.8346
Epoch 98/100
8000/8000 [==============================] - 2s 244us/sample - loss: 0.3993 - accuracy: 0.8360
Epoch 99/100
8000/8000 [==============================] - 2s 250us/sample - loss: 0.3992 - accuracy: 0.8365
Epoch 100/100
8000/8000 [==============================] - 2s 274us/sample - loss: 0.3996 - accuracy: 0.8346

# Making the predictions and evaluating the model

In [23]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [24]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [26]:
accuracy

0.842

In [27]:
cm

array([[1551,   44],
       [ 272,  133]], dtype=int64)

# Saving Model

In [29]:
# Saving model to disk
pickle.dump(accuracy, open('customer.pkl','wb'))

In [30]:
# Loading model to compare the results
model = pickle.load(open('customer.pkl','rb'))
print(model.predict([[500,1,1,30,2,50000,3,1,1,60324]]))

AttributeError: 'numpy.float64' object has no attribute 'predict'